<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        shop Online Shopping | shop  Ecommerce    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-03-02-603df1634614f.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-03-02-603df1634614f.png">

    <link rel="stylesheet" media="screen"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/vendor/drift-zoom/dist/drift-basic.min.css"/>
    <link rel="stylesheet" media="screen"
          href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/back-end/css/toastr.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/theme.min.css">
    <link rel="stylesheet" media="screen" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/slick.css">
    <link rel="stylesheet" media="screen" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/back-end/css/toastr.css"/>
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/master.css"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@400;600;700&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/css/lightbox.css">
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/back-end/vendor/icon-set/style.css">
        <meta property="og:image" content="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-05-25-60ad1b313a9d4.png"/>
    <meta property="og:title" content="Welcome To shop Home"/>
    <meta property="og:url" content="http://localhost">
    <meta property="og:description" content="<p>this is about us page. hello and hi from about page description..</p>">

    <meta property="twitter:card" content="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-05-25-60ad1b313a9d4.png"/>
    <meta property="twitter:title" content="Welcome To shop Home"/>
    <meta property="twitter:url" content="http://localhost">
    <meta property="twitter:description" content="<p>this is about us page. hello and hi from about page description..</p>">

    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/home.css"/>
    <style>
        .cz-countdown-days {
            border: .5px solid#1b7fed;
        }

.btn-scroll-top {
            background:  #1b7fed;
        }

.__best-selling:hover .ptr,
        .flash_deal_product:hover .flash-product-title {
            color:  #1b7fed;
        }

        .cz-countdown-hours {
            border: .5px solid#1b7fed;
        }

        .cz-countdown-minutes {
            border: .5px solid#1b7fed;
        }

        .cz-countdown-seconds {
            border: .5px solid#1b7fed;
        }

        .flash_deal_product_details .flash-product-price {
            color: #1b7fed;
        }

        .featured_deal_left {
            background: #1b7fed 0% 0% no-repeat padding-box;
        }

        .category_div:hover {
            color: black;
        }

        .deal_of_the_day {
            background: black;
        }

        .best-selleing-image {
            background:#1b7fed10;
        }
        .top-rated-image{
            background:#1b7fed10;
        }
        @media (max-width: 800px) {
            .categories-view-all {
                margin-right: 6px;
            }
            .categories-title {
                margin-left: 6px;
            }
            .seller-list-title{
                margin-left: 10px;
            }
            .seller-list-view-all {
                margin-right: 10px;
            }
            .category-product-view-title {
                margin-left: -8px;
            }
            .category-product-view-all {
                margin-right: 5px;
            }
        }
        @media(min-width:801px){
            .categories-view-all {
                margin-right: 27px;
            }
            .categories-title {
                margin-left: 25px;
            }
            .seller-list-title{
                margin-left: 10px;
            }
            .seller-list-view-all {
                margin-right: 10px;
            }
            .seller-card {
                padding-right:0px !important;
            }
            .category-product-view-title {
                margin-left: -12px;
            }
            .category-product-view-all {
                margin-right: 0px;
            }
        }
        .countdown-card{
            background:#1b7fed10;

        }
        .flash-deal-text{
            color: #1b7fed;
        }
        .countdown-background{
            background: #1b7fed;
        }
     .czi-arrow-left{
        color: #1b7fed;
        background: #1b7fed10;
     }
     .czi-arrow-right{
        color: #1b7fed;
        background: #1b7fed10;
     }
  .flash-deals-background-image{
    background: #1b7fed10;
  }
  .view-all-text{
    color:black !important;
  }
  .feature-product .czi-arrow-left{
        color: #1b7fed;
        background: #1b7fed10
     }

     .feature-product .czi-arrow-right{
        color: #1b7fed;
        background: #1b7fed10;
        font-size: 12px;
     }
     /*  */
    </style>

    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/home.css"/>
    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/responsive1.css"/>


    <link rel="stylesheet" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/css/style.css">
    
    <meta name="_token" content="MAZRT502gCfnO882H2aES1MEEg4UpggxxALWtoVY">
    
    <!--to make http ajax request to https-->
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <style>
        .rtl {
            direction: ltr;
        }

        .password-toggle-btn .password-toggle-indicator:hover {
            color: #1b7fed;
        }

        .password-toggle-btn .custom-control-input:checked ~ .password-toggle-indicator {
            color: black;
        }

        .dropdown-item:hover, .dropdown-item:focus {
            color: #1b7fed;
        }

        .dropdown-item.active, .dropdown-item:active {
            color: black;
        }

        .navbar-light .navbar-tool-icon-box {
            color: #1b7fed;
        }

        .search_button {
            background-color: #1b7fed;
        }


        .navbar-stuck-menu {
            background-color: #1b7fed;
        }

        .mega-nav .nav-item .nav-link {
            color: #1b7fed                           !important;
        }
        .checkbox-alphanumeric label:hover {
            border-color: #1b7fed;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: black        !important;
        }

        [type="radio"] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        [type="radio"] + span:after {
            box-shadow: 0 0 0 0.10emblack;
        }

        [type="radio"]:checked + span:after {
            background: black;
            box-shadow: 0 0 0 0.10emblack;
        }
        .navbar-tool .navbar-tool-label {
            background-color: black!important;
        }

        .btn--primary {
            color: #fff;
            background-color: #1b7fed!important;
            border-color: #1b7fed!important;
        }

        .btn--primary:hover {
            color: #fff;
            background-color: #1b7fed!important;
            border-color: #1b7fed!important;
        }

        .btn-secondary {
            background-color: black!important;
            border-color: black!important;
        }

        .btn-outline-accent:hover {
            color: #fff;
            background-color: #1b7fed;
            border-color: #1b7fed;
        }

        .btn-outline-accent {
            color: #1b7fed;
            border-color: #1b7fed;
        }

        .text-accent {
            color: #1b7fed;
        }

        a:hover {
            color: black;
        }

        .active-menu {
            color: black!important;
        }

        .page-item.active > .page-link {
            box-shadow: 0 0.5rem 1.125rem -0.425rem#1b7fed


        }

        .page-item.active .page-link {
            background-color: #1b7fed;
        }

        .btn-outline-accent:not(:disabled):not(.disabled):active, .btn-outline-accent:not(:disabled):not(.disabled).active, .show > .btn-outline-accent.dropdown-toggle {
            background-color: black;
            border-color: black;
        }

        .btn-outline-primary {
            color: #1b7fed;
            border-color: #1b7fed;
        }

        .btn-outline-primary:hover {
            background-color: black;
            border-color: black;
        }

        .btn-outline-primary:focus, .btn-outline-primary.focus {
            box-shadow: 0 0 0 0black;
        }

        .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
            background-color: #1b7fed;
            border-color: #1b7fed;
        }

        .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0#1b7fed;
        }
        .for-discoutn-value {
            background: #1b7fed;
        }
        .dropdown-menu {
            margin-left: -8px !important;
        }
    </style>

        
        <link rel='stylesheet' type='text/css' property='stylesheet' href='//localhost/Admin%20and%20web%20new%20install%20V13.0/_debugbar/assets/stylesheets?v=1675524420&theme=auto' data-turbolinks-eval='false' data-turbo-eval='false'><script src='//localhost/Admin%20and%20web%20new%20install%20V13.0/_debugbar/assets/javascript?v=1675524420' data-turbolinks-eval='false' data-turbo-eval='false'></script><script data-turbo-eval="false">jQuery.noConflict(true);</script>

</head>
<!-- Body-->
<body class="toolbar-enabled">
    <!-- Sign in / sign up modal-->
<!-- Navbar-->
<!-- Quick View Modal-->
<div class="modal-quick-view modal fade" id="quick-view" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="quick-view-modal">

        </div>
    </div>
</div>
<!-- Navbar Electronics Store-->
<style>
    .for-count-value {
        color: #1b7fed;
    }

    .count-value {
        color: #1b7fed;
    }

    @media (min-width: 768px) {
        .navbar-stuck-menu {
            background-color: #1b7fed;
        }

    }

    @media (max-width: 767px) {
        .search_button .input-group-text i {
            color: #1b7fed                              !important;
        }
       

        .mega-nav1 {
            color: #1b7fed                              !important;
        }

        .mega-nav1 .nav-link {
            color: #1b7fed                              !important;
        }
    }

    @media (max-width: 471px) {
        .mega-nav1 {
            color: #1b7fed                              !important;
        }
        .mega-nav1 .nav-link {
            color: #1b7fed !important;
        }
    }
</style>


<header class="box-shadow-sm rtl __inline-10">
    <!-- Topbar-->
    <div class="topbar">
        <div class="container">

            <div>
                <div class="topbar-text dropdown d-md-none ml-auto">
                    <a class="topbar-link" href="tel: 000000000">
                        <i class="fa fa-phone"></i> 000000000
                    </a>
                </div>
                <div class="d-none d-md-block mr-2 text-nowrap">
                    <a class="topbar-link d-none d-md-inline-block" href="tel:000000000">
                        <i class="fa fa-phone"></i> 000000000
                    </a>
                </div>
            </div>

            <div>
                                
                                <div
                    class="topbar-text dropdown disable-autohide  __language-bar text-capitalize">
                    <a class="topbar-link dropdown-toggle" href="#" data-toggle="dropdown">
                                                                                    <img class="mr-2" width="20"
                                     src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/img/flags/en.png"
                                     alt="Eng">
                                english
                                                                        </a>
                    <ul class="dropdown-menu dropdown-menu-left"
                        style="text-align: left;">
                                                                                    <li>
                                    <a class="dropdown-item pb-1" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/lang/en">
                                        <img class="mr-2"
                                             width="20"
                                             src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/img/flags/en.png"
                                             alt="english"/>
                                        <span style="text-transform: capitalize">english</span>
                                    </a>
                                </li>
                                                                        </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-sticky bg-light mobile-head">
        <div class="navbar navbar-expand-md navbar-light">
            <div class="container ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0 __min-w-7rem" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/home">
                    <img class="__inline-11"
                         src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-05-25-60ad1b313a9d4.png"
                         onerror="this.src='http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/img/image-place-holder.png'"
                         alt="shop"/>
                </a>
                <a class="navbar-brand d-sm-none mr-2"
                   href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/home">
                    <img class="mobile-logo-img __inline-12"
                         src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-02-20-6030c88c91911.png"
                         onerror="this.src='http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/img/image-place-holder.png'"
                         alt="shop"/>
                </a>
                <!-- Search-->
                <div class="input-group-overlay d-none d-md-block mx-4"
                     style="text-align: left">
                    <form action="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products" type="submit" class="search_form">
                        <input class="form-control appended-form-control search-bar-input" type="text"
                               autocomplete="off"
                               placeholder="Search here ..."
                               name="name">
                        <button class="input-group-append-overlay search_button" type="submit"
                                style="border-radius: 0px 7px 7px 0px; left: unset; right: 0;top:0">
                                <span class="input-group-text __text-20px">
                                    <i class="czi-search text-white"></i>
                                </span>
                        </button>
                        <input name="data_from" value="search" hidden>
                        <input name="page" value="1" hidden>
                        <diV class="card search-card __inline-13">
                            <div class="card-body search-result-box __h-400px overflow-x-hidden overflow-y-auto"></div>
                        </diV>
                    </form>
                </div>
                <!-- Toolbar-->
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <a class="navbar-tool navbar-stuck-toggler" href="#">
                        <span class="navbar-tool-tooltip">Expand Menu</span>
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon czi-menu open-icon"></i>
                            <i class="navbar-tool-icon czi-close close-icon"></i>
                        </div>
                    </a>
                    <div class="navbar-tool dropdown ml-md-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/wishlists">
                            <span class="navbar-tool-label">
                                <span
                                    class="countWishlist">0</span>
                           </span>
                            <i class="navbar-tool-icon czi-heart"></i>
                        </a>
                    </div>
                                            <div class="dropdown">
                            <a class="navbar-tool ml-md-3"
                               type="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="navbar-tool-icon-box bg-secondary">
                                    <div class="navbar-tool-icon-box bg-secondary">
                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.25 4.41675C4.25 6.48425 5.9325 8.16675 8 8.16675C10.0675 8.16675 11.75 6.48425 11.75 4.41675C11.75 2.34925 10.0675 0.666748 8 0.666748C5.9325 0.666748 4.25 2.34925 4.25 4.41675ZM14.6667 16.5001H15.5V15.6667C15.5 12.4509 12.8825 9.83341 9.66667 9.83341H6.33333C3.11667 9.83341 0.5 12.4509 0.5 15.6667V16.5001H14.6667Z" fill="#1B7FED"/>
                                        </svg>

                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu __auth-dropdown dropdown-menu-left" aria-labelledby="dropdownMenuButton"
                                 style="text-align: left;">
                                <a class="dropdown-item" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/customer/auth/login">
                                    <i class="fa fa-sign-in mr-2"></i> Sign in
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/customer/auth/sign-up">
                                    <i class="fa fa-user-circle mr-2"></i>Sign up
                                </a>
                            </div>
                        </div>
                                        <div id="cart_items">
                        <div class="navbar-tool dropdown ml-md-3"
     style="margin-right: 6px">
    <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/shop-cart">
        <span class="navbar-tool-label">
                        0
        </span>
        <i class="navbar-tool-icon czi-cart"></i>
    </a>
    <a class="navbar-tool-text ml-2" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/shop-cart"><small>My cart</small>
        0.00$
    </a>
    <!-- Cart dropdown-->
    <div class="dropdown-menu dropdown-menu-right __w-20rem ">
        <div class="widget widget-cart px-3 pt-2 pb-3">
                            <div class="widget-cart-item">
                    <h6 class="text-danger text-center m-0"><i
                            class="fa fa-cart-arrow-down"></i> Empty Cart
                    </h6>
                </div>
                    </div>
    </div>
</div>


                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-md navbar-stuck-menu"  >
            <div class="container px-10px">
                <div class="collapse navbar-collapse" id="navbarCollapse"
                    style="text-align: left; ">

                    <!-- Search-->
                    <div class="input-group-overlay d-md-none my-3">
                        <form action="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products" type="submit" class="search_form">
                            <input class="form-control appended-form-control search-bar-input-mobile" type="text"
                                   autocomplete="off"
                                   placeholder="Search" name="name">
                            <input name="data_from" value="search" hidden>
                            <input name="page" value="1" hidden>
                            <button class="input-group-append-overlay search_button" type="submit"
                                    style="border-radius: 0px 7px 7px 0px; left: unset; right: 0;">
                            <span class="input-group-text __text-20px">
                                <i class="czi-search text-white"></i>
                            </span>
                            </button>
                            <diV class="card search-card __inline-13">
                                <div class="card-body search-result-box" id=""
                                     style="overflow:scroll; height:400px;overflow-x: hidden"></div>
                            </diV>
                        </form>
                    </div>

                                        <ul class="navbar-nav mega-nav pr-2 pl-2 mr-2 d-none d-xl-block __mega-nav">
                        <li class="nav-item ">
                            <a class="nav-link dropdown-toggle pl-0"
                               href="#" data-toggle="dropdown" style="pointer-events: none">
                                <i class="czi-menu align-middle mt-n1 mr-2"></i>
                                <span
                                    style="margin-left: 30px !important;margin-right: 30px">
                                    Categories
                                </span>
                            </a>
                                                            <ul class="dropdown-menu __dropdown-menu" style="margin-left: 1px!important;text-align: left;padding-bottom: 0px!important;">
                                                                        <li class="dropdown">
                                        <a class="dropdown-item text-capitalize text-center" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/categories"
                                        style="color: #1b7fed !important;">
                                            View more

                                            <i class="czi-arrow-right __inline-15"></i>
                                        </a>
                                    </li>

                                </ul>
                                                    </li>
                    </ul>

                    <ul class="navbar-nav mega-nav1 pr-2 pl-2 d-block d-xl-none"><!--mobile-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-0"
                               href="#" data-toggle="dropdown">
                                <i class="czi-menu align-middle mt-n1 mr-2"></i>
                                <span
                                    style="margin-left: 20px !important;">Categories</span>
                            </a>
                            <ul class="dropdown-menu __dropdown-menu-2"
                                style="text-align: left;">
                                                            </ul>
                        </li>
                    </ul>
                    <!-- Primary menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/">Home</a>
                        </li>

                                                <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               data-toggle="dropdown">All Brands</a>
                            <ul class="dropdown-menu __dropdown-menu-sizing dropdown-menu-left scroll-bar"
                                style="text-align: left;">
                                                                <li class="__inline-17">
                                    <div>
                                        <a class="dropdown-item" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/brands"
                                        style="color: #1b7fed !important;">
                                            View more
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>7
                                                                        
                                                                            <li class="nav-item dropdown active">
                                <a class="nav-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/sellers">All Sellers</a>
                            </li>

                                                                                        <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="padding-left: 0">
                                            Seller  Zone
                                        </button>
                                        <div class="dropdown-menu __dropdown-menu-3 __min-w-165px" aria-labelledby="dropdownMenuButton"
                                            style="text-align: left;">
                                            <a class="dropdown-item" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/shop/apply">
                                                Become a Seller
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/seller/auth/login">
                                                Seller  Login
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                                                        </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Page title-->


    <div class="row">
        <div class="col-12" style="margin-top:10rem;position: fixed;z-index: 9999;">
            <div id="loading" style="display: none;">
            </div>
        </div>
    </div>


<!-- Page Content-->
<div class="__inline-61">
    <!-- Hero (Banners + Slider)-->
    <section class="bg-transparent mb-3">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="row rtl">
    <div class="col-xl-3 d-none d-xl-block __top-slider-cate">
        <div ></div>
    </div>

    <div class="col-xl-9 col-md-12 __top-slider-images" style="margin-top: 3px; padding-left:10px;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                            </ol>
            <div class="carousel-inner">
                            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
    <!-- Banner group-->
</div>


<script>
    $(function () {
        $('.list-group-item').on('click', function () {
            $('.glyphicon', this)
                .toggleClass('glyphicon-chevron-right')
                .toggleClass('glyphicon-chevron-down');
        });
    });
</script>
                </div>
            </div>
        </div>
    </section>

    
    
    
    
    <section class="container rtl mt-3">
        <!-- Heading-->
        <div class="section-header">
            <div class="text-black font-bold __text-22px">
                <span> Brands</span>
            </div>
            <div class="__mr-2px">
                <a class="text-capitalize view-all-text" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/brands">
                    View all
                    <i class="czi-arrow-right ml-1 mr-n1"></i>
                </a>
            </div>
        </div>
    <!-- Grid-->

        <div class="mt-sm-3 mb-3 brand-slider">
            <div class="owl-carousel owl-theme p-2" id="brands-slider">
                            </div>
        </div>
    </section>

    <!-- Products grid (featured products)-->
    
    
    
        
    <div class="container rtl">
        <div class="row g-4 pt-2 mt-0 mb-4 pb-2 __deal-of">
            
            <div class="col-xl-3 col-md-4">
                <div class="deal_of_the_day h-100" style="background: #1b7fed">
                                                                                                        </div>

            </div>
            
            <div class="col-xl-9 col-md-8 mt-2">
                <div class="latest-product-margin">
                    <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <span class="for-feature-title __text-22px font-bold text-center">Latest Products</span>
                        </div>
                        <div class="mr-1">
                            <a class="text-capitalize view-all-text"
                               href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=latest">
                                View all
                                <i class="czi-arrow-right ml-1 mr-n1"></i>
                            </a>
                        </div>
                    </div>

                    <div class="row mt-0 g-3">
                                            </div>
                </div>
            </div>
        </div>
    </div>


    
        
    <div class="container rtl">
        <div class="row">
                    <div class="col-md-6">
                    <div class="card __shadow h-100">
                        <div class="card-body">
                            <div class="row d-flex justify-content-between">
                                <div class="categories-title">
                                    <span class="font-semibold">Categories</span><br>
                                   
                
                                  
                                   <button (click)="goToCat()"><span class="font-semibold">Pizza</span></button>
                                   <div *ngIf="should_open">
                                    <app-cat></app-cat>
                                   </div>
                            
                         
                                </div>
                                <div class="categories-view-all">
                                    
                            
                                    <a class="text-capitalize view-all-text"
                                    href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/categories">View all
                                    <i class="czi-arrow-right ml-1 mr-n1"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                                            </div>
                        </div>
                    </div>
                </div>
                        <!-- top sellers -->

                                    </div>
    </div>


    <div class="container rtl mt-4">
        <div class="arrival-title">
            <div>
                <img  src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/new-arrivals.png" alt="">

            </div>
            <div class="pl-2">
                ARRIVALS
            </div>
        </div>
    </div>
    <div class="container rtl mb-3 overflow-hidden">
        <div class="py-2">
            <div class="new_arrival_product">
                <div class="carousel-wrap" >
                    <div class="owl-carousel owl-theme" id="new-arrivals-product">
                                            </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container rtl">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="card card __shadow h-100">
                    <div class="card-body p-xl-35">
                        <div class="row d-flex justify-content-between mx-1 mb-3">
                            <div>
                                <img class="size-30"  src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/best sellings.png"
                                         alt="">
                                    <span class="font-bold pl-1">Best sellings</span>
                            </div>
                            <div>
                                <a class="text-capitalize view-all-text"
                                    href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=best-selling&amp;page=1">View all
                                    <i class="czi-arrow-right ml-1 mr-n1"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                                                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2 mt-md-0">
                <div class="card card __shadow h-100">
                    <div class="card-body p-xl-35">
                        <div class="row d-flex justify-content-between mx-1 mb-3">
                            <div>
                                <img class="size-30"  src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/top-rated.png"
                                         alt="">
                                    <span class="font-bold pl-1">Top rated</span>
                            </div>
                            <div>
                                <a class="text-capitalize view-all-text"
                                    href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=top-rated&amp;page=1">View all
                                    <i class="czi-arrow-right ml-1 mr-n1"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                                                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container rtl py-4 ">
        <div class="row g-3">
                    </div>
    </div>
    
    
        

    <div class="container rtl pb-4 pt-3">
        <div class="shipping-policy-web">
            <div class="row g-3">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="shipping-method-system" >
                        <div class="text-center">
                            <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/delivery.png"
                                    alt="">
                        </div>
                        <div class="text-center">
                            <p class="m-0">
                            Fast Delivery all accross the country
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="shipping-method-system">
                        <div class="text-center">
                            <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/Payment.png"
                                    alt="">
                        </div>
                        <div class="text-center">
                            <p class="m-0">
                            Safe Payment
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="shipping-method-system">
                        <div class="text-center">
                            <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/money.png"
                                    alt="">
                        </div>
                        <div class="text-center">
                            <p class="m-0">
                            7 Days Return Policy
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="shipping-method-system">
                        <div class="text-center">
                            <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/Genuine.png"
                                    alt="">
                        </div>
                        <div class="text-center">
                            <p class="m-0">
                            100% Authentic Products
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<!-- Footer-->
<!-- Footer -->
<style>
    .social-media :hover {
        color: black !important;
    }
    .start_address_under_line{
        width: 331px;
    }
</style>
<div class="__inline-9 rtl">
    <div class="d-flex justify-content-center text-center text-md-left mt-3"
            style="background: #1b7fed10;padding:20px;">
        <div class="col-md-3 d-flex justify-content-center">
            <div >
                <a href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/about-us">
                    <div class="text-center">
                        <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/about company.png"
                                alt="">
                    </div>
                    <div class="text-center">

                            <p class="m-0">
                                About Company
                            </p>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div >
                <a href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/contacts">
                    <div class="text-center">
                        <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/contact us.png"
                                alt="">
                    </div>
                    <div class="text-center">
                        <p class="m-0">
                        Contact Us
                    </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div >
                <a href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/helpTopic">
                    <div class="text-center">
                        <img class="size-60" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/faq.png"
                                alt="">
                    </div>
                    <div class="text-center">
                        <p class="m-0">
                        FAQ
                    </p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>

    <footer class="page-footer font-small mdb-color rtl">
        <!-- Footer Links -->
        <div class="pt-4" style="background:#1b7fed20;">
            <div class="container text-center __pb-13px">

                <!-- Footer links -->
                <div
                    class="row text-center text-md-left mt-3 pb-3 ">
                    <!-- Grid column -->
                    <div class="col-md-3 footer-web-logo" >
                        <a class="d-block" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/home">
                            <img class="" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/storage/app/public/company/2021-02-20-6030c8a02a5f9.png"
                                onerror="this.src='http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/img/image-place-holder.png'"
                                alt="shop"/>
                        </a>
                                                
                                                    <div class="mt-4 pt-lg-4">
                                <h6 class="text-uppercase font-weight-bold footer-heder align-items-center">
                                    Download our app
                                </h6>
                            </div>
                        

                        <div class="store-contents d-flex justify-content-center pr-lg-4" >
                                                            <div class="mr-2 mb-2">
                                    <a class="" href="https://www.target.com/s/apple+store++now?ref=tgt_adv_XS000000&amp;AFID=msn&amp;fndsrc=tgtao&amp;DFA=71700000012505188&amp;CPNG=Electronics_Portable+Computers&amp;adgroup=Portable+Computers&amp;LID=700000001176246&amp;LNM=apple+store+near+me+now&amp;MT=b&amp;network=s&amp;device=c&amp;location=12&amp;targetid=kwd-81913773633608:loc-12&amp;ds_rl=1246978&amp;ds_rl=1248099&amp;gclsrc=ds" role="button">
                                        <img class="w-100" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/apple_app.png"
                                            alt="">
                                    </a>
                                </div>
                            
                                                            <div class="mr-2 mb-2">
                                    <a href="https://play.google.com/store?hl=en_US&amp;gl=US" role="button">
                                        <img class="w-100" src="http://localhost/Admin%20and%20web%20new%20install%20V13.0/public/assets/front-end/png/google_app.png" alt="">
                                    </a>
                                </div>
                                                    </div>
                    </div>
                    <div class="col-md-9" >
                        <div class="row">

                            <div class="col-md-3 footer-padding-bottom" >
                                <h6 class="text-uppercase mb-4 font-weight-bold footer-heder">Special</h6>
                                <ul class="widget-list __pb-10px">
     <li class="widget-list-item"><a class="widget-list-link"
        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=featured&amp;page=1">Featured Products</a>
        </li>
    <li class="widget-list-item"><a class="widget-list-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=latest&amp;page=1">Latest Products</a>
        </li>
    <li class="widget-list-item"><a class="widget-list-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=best-selling&amp;page=1">Best Selling Products</a>
    </li>
    <li class="widget-list-item"><a class="widget-list-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/products?data_from=top-rated&amp;page=1">Top Rated Products</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-4 footer-padding-bottom">
                                <h6 class="text-uppercase mb-4 font-weight-bold footer-heder">Account &amp; shipping info</h6>
                                                                    <ul class="widget-list __pb-10px">
                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/customer/auth/login">Profile Info</a>
                                        </li>
                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/customer/auth/login">Wish List</a>
                                        </li>

                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/track-order">Track Order</a>
                                        </li>
                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/refund-policy">Refund policy</a>
                                        </li>
                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/return-policy">Return policy</a>
                                        </li>
                                        <li class="widget-list-item"><a class="widget-list-link"
                                                                        href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/cancellation-policy">Cancellation policy</a>
                                        </li>
                                    </ul>
                                                            </div>
                            <div class="col-md-5 footer-padding-bottom" >
                                    <div class="mb-2">
                                        <h6 class="text-uppercase mb-4 font-weight-bold footer-heder">NEWS LETTER</h6>
                                        <span>Subscribe to our new channel to get latest updates</span>
                                    </div>
                                    <div class="text-nowrap mb-4 position-relative">
                                        <form action="http://localhost/Admin%20and%20web%20new%20install%20V13.0/subscription" method="post">
                                            <input type="hidden" name="_token" value="MAZRT502gCfnO882H2aES1MEEg4UpggxxALWtoVY">                                            <input type="email" name="subscription_email" class="form-control subscribe-border"
                                                placeholder="Your Email Address" required style="padding: 11px;text-align: left;">
                                            <button class="subscribe-button" type="submit">
                                                Subscribe
                                            </button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-md-7">
                                <div class="row d-flex align-items-center mobile-view-center-align  justify-content-center justify-content-md-startr">
                                    <div>
                                        <span class="mb-4 font-weight-bold footer-heder">Start a conversation</span>
                                    </div>
                                    <div class="flex-grow-1 d-none d-md-block mx-sm-4">
                                        <hr class="start_address_under_line"/>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-11 start_address ">
                                        <div class="">
                                            <a class="widget-list-link" href="tel: 000000000">
                                                <span ><i class="fa fa-phone m-2"></i>000000000 </span>
                                            </a>

                                        </div>
                                        <div>
                                            <a class="widget-list-link" href="mailto: Copy@6amtech.com">
                                                <span ><i class="fa fa-envelope m-2"></i> Copy@6amtech.com </span>
                                            </a>
                                        </div>
                                        <div>
                                                                                            <a class="widget-list-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/customer/auth/login">
                                                    <span ><i class="fa fa-user-o m-2"></i> Support Ticket </span>
                                                </a><br>
                                                                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 ">
                                <div class="row pl-2 d-flex align-items-center mobile-view-center-align justify-content-center justify-content-md-start">
                                    <div>
                                        <span class="mb-4 font-weight-bold footer-heder">Address</span>
                                    </div>
                                    <div class="flex-grow-1 d-none d-md-block ml-3">
                                        <hr class="address_under_line"/>
                                    </div>
                                </div>
                                <div class="pl-2">
                                    <span class="__text-14px"><i class="fa fa-map-marker m-2"></i>  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer links -->
            </div>
        </div>


        <!-- Grid row -->
        <div style="background: #1b7fed10;">
            <div class="container">
                <div class="row end-footer footer-end last-footer-content-align">
                    <div class=" mt-3">
                        <p class="text-left __text-16px">CopyRight 6amTech@2021</p>
                    </div>
                    <div class="mt-md-3 mt-0 mb-md-3 text-left">
                                                                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-twitter mr-2 mb-2"
                                        target="_blank" href="https://www.w3schools.com/howto/howto_css_table_responsive.asp">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-linkedin mr-2 mb-2"
                                        target="_blank" href="https://dev.6amtech.com/">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-google-plus mr-2 mb-2"
                                        target="_blank" href="https://dev.6amtech.com/">
                                            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-pinterest mr-2 mb-2"
                                        target="_blank" href="https://dev.6amtech.com/">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-instagram mr-2 mb-2"
                                        target="_blank" href="https://dev.6amtech.com/">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                            <span class="social-media ">
                                        <a class="social-btn text-white sb-light sb-facebook mr-2 mb-2"
                                        target="_blank" href="facebook.com">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                                                        </div>
                    <div class="d-flex __text-14px">
                        <div class="mr-3" >
                            <a class="widget-list-link"
                            href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/terms">Terms &amp; Conditions</a>
                        </div>
                        <div>
                            <a class="widget-list-link" href="http://localhost/Admin%20and%20web%20new%20install%20V13.0/privacy-policy">
                                Privacy Policy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
</div>
<!-- Toolbar for handheld devices-->
<!--<div class="cz-handheld-toolbar" id="toolbar">
    
    </div>-->

<!-- Back To Top Button-->
<a class="btn-scroll-top" href="#top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i
        class="btn-scroll-top-icon czi-arrow-up"> </i>
</a>





</body>
</html>